.button {
    display: flex;
    padding-block: .25rem;
    padding-inline: .5rem;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: .25rem;
    background-color: #fdfdfd;
    transition: background-color .25s ease-in-out;
    width: fit-content;
    margin: 0 auto 2rem;

    &:hover,
    &:focus {
        background-color: #d6d6d6;
    }

    .text {}
}
