.header {
  width: 100%;
  background-color: #5900ff;
  padding: 1rem;
}

.form {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background-color: #fff;
  border-radius: .25rem;
  overflow: hidden;

  input {
    border: none;
    flex-grow: 1;
    outline: none;
    padding: .5rem .5rem .5rem 0;
  }

  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    padding: 0.5rem;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .text {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }
  }
}